build/
.gradle/
run/
logs/
raw/
.idea/
*.iml
out/
*.log
hs_err_*.log
*.hprof
*.jfr
*.launch
*.DS_Store
.settings/
.vscode/
bin/
.classpath
.project
NUL
build_output.txt
compile_262.txt
tmp_nf/
-p/
*.7z
desktop.ini
